#setar { 
    height: 150px;
    display: flex;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1#nometitulo{
    font-size: 22px;
    font-family: 'Helvetica';
    font-weight: bold;
}

button#meubotao {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: black;
    background-color: cadetblue;
}

button#meubotao:hover{
    background-color: rgb(193, 226, 237);
    transition: .8s;
    color: darkslateblue;
}