ul{
    list-style-type: none;
  }
.form label{
    margin: 20px;
}
.form input{
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enviar {
    width: 50%;
    height: 50px;
}